
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-color: #FFFFFF;
    --secondary-color: #0192DF;
    --accent1-color: #EA3788;
    --accent2-color: #B0228C;
    --heading-color: #000000;

    --heading-font: Roboto, serif;
    --paragraph-font: Roboto, serif;
    
    --nav-background-color: #000000;
    --nav-link-color: #E56B70;
    --nav-hover-link-color: #450D37;
    --nav-hover-background-color: #0192DF;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
header{
    padding: 15px;
    background-color: var(--heading-color);
}
p{
    padding: 20px;
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited{
    color: var(--nav-link-color);
}
nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
