/* Coolors Exported Palette - https://coolors.co/0192df-b0228c-ea3788-e56b70-f391a0 */

/* CSS HEX */
--celestial-blue: #0192dfff;
--fandango: #b0228cff;
--magenta: #ea3788ff;
--light-coral: #e56b70ff;
--salmon-pink: #f391a0ff;

/* CSS HSL */
--celestial-blue: hsla(201, 99%, 44%, 1);
--fandango: hsla(315, 68%, 41%, 1);
--magenta: hsla(333, 81%, 57%, 1);
--light-coral: hsla(358, 70%, 66%, 1);
--salmon-pink: hsla(351, 80%, 76%, 1);

/* SCSS HEX */
$celestial-blue: #0192dfff;
$fandango: #b0228cff;
$magenta: #ea3788ff;
$light-coral: #e56b70ff;
$salmon-pink: #f391a0ff;

/* SCSS HSL */
$celestial-blue: hsla(201, 99%, 44%, 1);
$fandango: hsla(315, 68%, 41%, 1);
$magenta: hsla(333, 81%, 57%, 1);
$light-coral: hsla(358, 70%, 66%, 1);
$salmon-pink: hsla(351, 80%, 76%, 1);

/* SCSS RGB */
$celestial-blue: rgba(1, 146, 223, 1);
$fandango: rgba(176, 34, 140, 1);
$magenta: rgba(234, 55, 136, 1);
$light-coral: rgba(229, 107, 112, 1);
$salmon-pink: rgba(243, 145, 160, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0192dfff, #b0228cff, #ea3788ff, #e56b70ff, #f391a0ff);
$gradient-right: linear-gradient(90deg, #0192dfff, #b0228cff, #ea3788ff, #e56b70ff, #f391a0ff);
$gradient-bottom: linear-gradient(180deg, #0192dfff, #b0228cff, #ea3788ff, #e56b70ff, #f391a0ff);
$gradient-left: linear-gradient(270deg, #0192dfff, #b0228cff, #ea3788ff, #e56b70ff, #f391a0ff);
$gradient-top-right: linear-gradient(45deg, #0192dfff, #b0228cff, #ea3788ff, #e56b70ff, #f391a0ff);
$gradient-bottom-right: linear-gradient(135deg, #0192dfff, #b0228cff, #ea3788ff, #e56b70ff, #f391a0ff);
$gradient-top-left: linear-gradient(225deg, #0192dfff, #b0228cff, #ea3788ff, #e56b70ff, #f391a0ff);
$gradient-bottom-left: linear-gradient(315deg, #0192dfff, #b0228cff, #ea3788ff, #e56b70ff, #f391a0ff);
$gradient-radial: radial-gradient(#0192dfff, #b0228cff, #ea3788ff, #e56b70ff, #f391a0ff);